.navbar {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
}

.navbar h1 {
    margin-top: 30px;
    color: white;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    color: #f39c12;
    text-decoration: none;
    transition: color 0.3s;
}

.links{
    margin-top: 30px;
}

.navbar a:hover {
    color: white;
}

.cart {
    position: relative; /* Makes the container a reference for absolutely positioned child elements */
    width: 50px;    
    margin-bottom: 20px;
}

.item {
    position: absolute; /* Absolute positioning */
    top: 0; /* Start from the top */
    left: 0; /* Start from the left */
    width: 100%; /* Take up the full width of the parent */
    height: 100%; /* Take up the full height of the parent */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

#cart {
    z-index: 1; /* By default, items will stack by source order, so item2 will be on top of item1 */
    top: 16px;
}

#count {
    color: rgb(0, 0, 0);
    z-index: 2; /* This makes item2 stack on top of item1 */
    left: 3px;
}

.ham-icon {
    margin-top: 20px;
    display: none;
    cursor: pointer;
}

.selling-items {
    display: flex;
    justify-content: space-around;
    font-size: larger;
    background-color: #f39c12;
    color: #f9f9f9;
    cursor: pointer;
}

.selling-items p:hover {
    color: rgb(5, 4, 4);
}

.show-nav {
    background-color: #333;
    padding: 1rem;
    display: none;
    align-items: center;
}

.hide-nav{
    display: none;
}

.show-nav ul{
    list-style-type: none;
}

.show-nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

@media screen and (max-width: 600px){
    .ham-icon {
        display: block;
    }

    .navbar li {
        display: none;
    }

    .show-nav {
        display: block;
    }
}